.container {
  width: 550px;
  height: 750px;
  margin: 20 auto;
  padding: 20px;
  border: 1px solid #573ba3;
  border-radius: 20px;
  background-image: linear-gradient(to top, #79d1c3, #f0fbff, #f6b3e5);
  display: grid;
}

.search {
  padding: 8px;
  position: absolute;
  top: 55px;
  margin-left: 80px;
  width: 200px;
}
.col-3 {
  position: absolute;
  top: 30px;
  margin-left: 155px;
  width: 80px;
}
.button {
  position: absolute;
  top: 15px;
  margin-left: 400px;
  width: 80px;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: 60;
  color: rgb(23, 20, 184);
}
h2 {
  font-size: 40px;
  font-weight: 100;
}
h3 {
  font-size: 28px;
  font-weight: 100;
}
h6 {
  margin-top: 10px;
  text-align: left;
  color: rgb(14, 17, 201);
}
p {
  font-family: "Sawarabi Mincho", serif;
}

p::first-letter {
  text-transform: capitalize;
}

.card {
  width: 450px;
  height: 330px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}
.card-body {
  position: absolute;
  top: 20px;
  left: 200px;
  margin: 0;
  padding: 3px;
}
.row {
  text-align: center;
  font-size: 20px;
  color: #6f4886;
}
.col {
  font-family: "Catamaran", sans-serif;
  font-size: 18px;
  text-align: center;
}
img {
  width: 180px;
  margin-left: 0px;
  margin-top: 50px;
  display: block;
}
img {
  margin-left: 0px;
  margin-top: 50px;
  display: block;
}
.footer {
  margin-top: 50px;
  text-align: center;
  font-size: small;
}
.active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
  color: #6f4886;
}
.weather-forecast img {
  margin-top: 5px;
  margin-bottom: 20px;
  height: 64px;
  width: 64px;
}
.weather-forecast-date {
  font-size: 20px;
  opacity: 0.8;
  font-weight: bold;
}
.weather-forecast-temperature-max {
  opacity: 0.7;
}
.weather-forecast-temperatures {
  font-size: 16px;
}
